main h3{
    background-color: #10316bbe;
    color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.7);
}

section > article {
    display: inline-block;
    width: 30%; 
    height: 3%; 
    margin: 2rem;
    padding: 1rem;
    background-color: #10316bde;
    border-radius: 8px; 
    box-sizing: border-box;
    text-align: center;
    color: antiquewhite;
}

section {
    text-align: center;
    margin-top: 1rem;
}


section>p, section>h4{
    background-color: white;
    padding: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    color: #10316b;
    border-radius: 0.5rem;
}

section a {
    text-decoration: none;
    color: #10316bc2;
    font-weight: bold;
  
}

section img{
    width: auto; 
    max-width: 50%;
}

section > article:hover {
    background-color: #122d5d;
}

