main form {
    background-color: #e6c57de1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    width: auto; 
    max-width: 50%;
    box-shadow: 0 4px 8px black; 
    text-align: center; 
    margin-left: 25%;
    margin-right: 20%;
}
/*como el login tiene menos inputs para evitar errores se hace un css a parte*/
/*tambien se usa para la pagina del juego*/
main form fieldset {
    border: none;
    padding: 0;
}

main form legend {
    font-size: 1rem;
    font-weight: bold;
    color: #10316b;
    margin-bottom: 1rem;
}

main form input[type="text"],
main form input[type="password"]{
    width: 50%;
    max-width: 40%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem; 
    text-align: justify;
}

main form input[type="submit"] {
    padding: 0.8rem 0.8rem;
    font-size: 1rem;
    background-color: #10316b;
    color: #fad993b6;
    border: none;
    border-radius: 4px;
    width: auto; 
    max-width: 50%;
}

main form input[type="submit"]:hover {
    background-color: #08244b;
}

main form a{
    text-decoration: none;
    color: #08244b;
}

main form a:hover{
    color: #134996;
}